input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit] {
  width: 100%;
  background-color: #ffcc00;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #cca300;
}

.access_box {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 20%;
  //margin: 0 auto;
}

.upper{
  width: 40%;
  float: left;
  margin: 50px 0  50px 60px;
}

.lower{
  width: 40%;
  float: right;
  margin: 50px 60px 50px 0px;

}

.big-div{
  background-color:  #87ceeb;
  width: 100%;
  overflow: hidden;
}

.gender{
  width: 150px;
}
